*.tgz
charts/*
values-*.yaml
!values.yaml
!charts/antibodies
!charts/chemical-interactions
!charts/chemical-preview
!charts/chemical-properties
!charts/conformer-generator
!charts/cookbook
!charts/coordinate-align
!charts/data-table
!charts/docking-smina
!charts/esp
!charts/high-quality-surfaces
!charts/hydrogens
!charts/merge-as-frames
!charts/minimization
!charts/quickdrop
!charts/realtime-scoring
!charts/rmsd
!charts/structure-prep
!charts/superimpose-proteins
!charts/smiles-loader
!charts/vault
